@import 'Vars.scss';

.active{
    background-color: $accent;
    border-radius: 5px;
    color: $text-light;
    a {
        color: $text-light;
    }
}
.navbar{
    background-color: $primary;
    color: $text-light;
}
.main-container{
    position: absolute;
    top: 4.4rem;
    height: calc(100vh - 4.4rem);
    width: 100%;
    background-color: $primary;
}
.user-header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 4.4rem;
    height: 3rem;
    width: 100%;
    background-color: $third;
    border-bottom: 1px solid $secondary;
    a {
        line-height: 1rem;
    }
}
.user-container{
    position: absolute;
    top: 3rem;
    display: block;
    height: auto;
    min-height: calc(100% - 3rem) ;
    width: 100%;
    background-color: $third;
    color: $text-primary;
}
.menu-icon{
    font-size: 1.5rem;
}