@import "Vars.scss";

.active {
  background-color: $accent;
  color: $text-light !important;
  animation: fade 0.2s;
  a {
    color: $text-light !important;
  }
}
.active-link {
  background-color: $primary-dark;
}
.btn-check:focus + .btn,
.btn:focus,
.btn-close:focus {
  outline: 0;
  box-shadow: $shadow-primary;
}
.z-index-1 {
  z-index: 1;
}
// background LOGIN /REGISTER
.bg-container {
  overflow-x: hidden;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  @media only screen and (min-width: $small) {
    overflow: hidden;
  }
}
.bg1 {
  @media only screen and (min-width: $small) {
    background-image: url(../assets/images/background-pplr-1.jpeg);
  }
}
.bg2 {
  @media only screen and (min-width: $small) {
    background-image: url(../assets/images/background-pplr-2.jpeg);
  }
}
.bg3 {
  @media only screen and (min-width: $small) {
    background-image: url(../assets/images/background-pplr-3.jpeg);
  }
}
.bg4 {
  @media only screen and (min-width: $small) {
    background-image: url(../assets/images/background-pplr-4.jpeg);
  }
}
.bg5 {
  @media only screen and (min-width: $small) {
    background-image: url(../assets/images/background-pplr-5.jpeg);
  }
}
.bg6 {
  @media only screen and (min-width: $small) {
    background-image: url(../assets/images/background-pplr-6.jpeg);
  }
}
.circle {
  position: absolute;
  width: 150vh;
  height: 150vh;
  background-color: $third;
  z-index: 0;
  transform: translateY(-25%);
  @media only screen and (min-width: $small) {
    width: 155vh;
    height: 155vh;
    border-radius: 50% 0 50% 50%;
    transform: translate(30%, 0%);
    box-shadow: $shadow-primary;
  }
}
.bg-third {
  background-color: $third;
}
// Loader
.loader_container {
  position: fixed;
  // display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffffab;
  z-index: 2;
}
// NAvbar
.navbar {
  background-color: $primary;
  color: $text-light;
  height: 3rem;
  box-shadow: $shadow-primary;

  .nav-link {
    font-size: 0.8rem;
    color: $text-light;
  }
  .dropdown-item {
    display: flex;
    align-items: center;
    a {
      color: $text-primary;
    }
  }
  .navbar_dropdown-title {
    p {
      font-size: 0.8rem;
    }
  }
  .user-icon {
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1.2rem;
    margin: 0 0.2rem 0 0.5rem;
  }
  .dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
    min-width: 200px;
  }
}
.container-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.384);
  z-index: 2;
  @media only screen and (min-width: $desktop) {
    position: relative;
    width: 0vw;
    height: 0vh;
  }
}
// footer
.footer-text {
  font-size: 0.8rem;
  margin: 0;
  padding: 0 0 1rem 1.5rem;
}
// Main container
.main-container {
  position: absolute;
  top: 3rem;
  height: calc(100vh - 3rem);
  width: 100%;
  background-color: $third;
}
.user-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  height: auto;
  min-height: 3.5rem;
  width: 100%;
  background-color: $third;
  color: $text-primary;
  border-bottom: 1px solid $secondary;
  z-index: 1;
  .user-header__name {
    padding-left: 0;
    @media only screen and (min-width: $desktop) {
      padding-left: 15rem;
    }
  }
  a {
    padding: 0;
    font-size: 0.8rem;
    padding-left: 1rem;
    line-height: 1rem;
    color: $text-secondary;
  }
  #basic-nav-dropdown:focus {
    color: $text-primary;
  }
  #basic-nav-dropdown:hover {
    color: $text-primary;
  }
  .dropdown-item {
    font-size: 1rem;
    color: $text-primary;
  }
  p,
  span {
    font-size: 0.8rem;
    @media only screen and (min-width: $tablet) {
      font-size: 1rem;
    }
  }
}
.dropdown-item:active {
  background-color: $primary-dark;
  color: $text-light;
}
.user-container {
  position: relative;
  top: 3rem;
  display: block;
  height: auto;
  min-height: calc(100% - 3rem);
  width: 100%;
  background-color: $third;
  color: $text-primary;

  .dropdown-menu[data-bs-popper] {
    left: -70%;
  }
}
.patient-container {
  position: relative;
  width: 100%;
  height: 80vh;
  // z-index: 1031;
  @media only screen and (min-width: $desktop) {
    width: calc(100% - 21rem);
    transform: translateX(15rem);
  }
}
// Forms
.form-control,
.form-select {
  background-color: $third;
  // border: none;
  // border-bottom: 1px solid $text-primary;
  color: $text-primary;
  padding: 0.1rem 2.25rem 0.1rem 0.75rem;
}
.form-control:focus,
.form-select:focus {
  background-color: $third;
  border: none;
  border-bottom: 1px solid $text-primary;
  box-shadow: $shadow-focus;
}
.form-label {
  color: $text-secondary;
  font-size: 0.8rem;
  a {
    font-size: 0.8rem;
  }
}
// Register
.form_register {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .col-12, .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
// Iconos y botones
.btn-icon,
.btn-close {
  transition: 0.2s;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  padding: 0;
  margin-left: 0.5rem;
}
.btn-close:hover {
  background-color: rgba(128, 128, 128, 0.452);
}
.dangger:hover {
  background-color: #dc354657;
}
.success:hover {
  background-color: #19875444;
}
.primary:hover {
  background-color: #0d6dfd46;
}
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  padding: 0;
  color: $text-primary;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
}
.menu-icon {
  font-size: 1.3rem;
  // transition: 0.2s;
}

.icon_container {
  position: relative;
  display: inline-block;
  .notification_icon {
    color: $text-secondary;
    border: 0.5px;
    font-size: 1.2rem;
  }
  .notification_circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $primary;
  }
}
// Mensaje de error

.error-form {
  transition: 0.2s;
  display: flex;
  color: $primary-dark;
  p {
    display: flex;
    font-size: 0.8rem;
    margin: 0;
  }

  .show {
    display: block;
  }
  .close {
    display: none;
  }
}
// GEneral
// Main
.main {
  .main__banner {
    width: 100%;
  }
  .main__title {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: $accent;
    span {
      font-size: calc(1.325rem + 0.9vw);
      color: $primary;
    }
  }
  .main__card {
    position: relative;
    height: 7rem;
    max-width: 300px;
    min-width: 270px;
    margin: 1rem;
    padding: 0;
    background-color: $third;
    transition: 0.2s;
    a {
      position: absolute;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 1rem;
      border-radius: 20px;
      .main__icon {
        font-size: 4rem;
      }
      h5 {
        margin: 0;
        padding-left: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}
.main__card:hover {
  transform: scale(1.1);
}
.switch-container {
  overflow-x: scroll;
  white-space: nowrap;
  @media only screen and (min-width: $desktop) {
    overflow: auto;
    white-space: normal;
  }
  a {
    display: inline-block;
    min-width: max-content;
    margin-bottom: 0.5rem;
    padding-right: 1rem;
    transition: 0.2s;
    color: $text-third;
  }
  a:hover {
    transform: scale(1.1);
  }
  a:focus {
    outline: 0;
  }
  .active-switch {
    color: $text-secondary;
    font-weight: 700;
  }
}
.section-title {
  text-transform: uppercase;
  color: $primary;
}
// Perfil del Paciente
.perfil-paciente {
  .datos-paciente__label {
    display: inline-block;
    width: fit-content;
    margin: 0;
    margin-right: 1rem;
    text-transform: uppercase;
  }
}
// Grupo familiar
.patient {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $third;
  box-shadow: $shadow-primary;
  transition: 0.2s;

  @media only screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    height: 5.5rem;
  }
  div {
    display: flex;
    align-items: center;
  }
  .patient-name {
    width: 100%;
    height: 100%;
    margin: 0 0 1rem 0;
    cursor: pointer;
    @media only screen and (min-width: $tablet) {
      margin: 0;
    }
    h6 {
      font-weight: 700;
    }
  }
  .patient-actions {
    justify-content: space-around;
    @media only screen and (min-width: $tablet) {
      justify-content: flex-end;
    }
    button {
      font-size: 0.8rem;
      transition: 0.2s;
      margin-left: 0.5rem;
    }
    button:hover {
      transform: scale(1.1);
    }
  }
}
// Historial Clinica
.historia-clinica {
  .switch-container__hc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: auto;
    min-height: 200px;
    background-color: $text-light;
    box-shadow: $shadow-primary;
  }
}
// Notificaciones y mensajes
.mensaje_container {
  transition: 0.5s;
  cursor: pointer;
  p {
    margin: 0;
  }
  .mensaje_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    @media only screen and (min-width: $tablet) {
      padding: auto;
    }
  }
  .mensaje_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .asunto {
    color: $text-primary;
  }
  .mensaje {
    color: $text-secondary;
    font-size: 0.8rem;
  }
}
// Tooltip
.my-tooltip {
  position: relative;
}
.my-tooltip .tiptext {
  visibility: hidden;
  text-align: center;
  position: absolute;
  width: max-content;
  bottom: -50%;
  z-index: 1;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.4rem;
  background-color: $text-primary;
  color: $text-light;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.my-tooltip:hover .tiptext {
  visibility: visible;
}
