@import "Vars.scss";

.active {
  background-color: $accent;
  color: $text-light !important;
  a {
    color: $text-light !important;
  }
}
.active-link {
  background-color: $primary-dark;
}
.btn-check:focus + .btn,
.btn:focus,
.btn-close:focus {
  outline: 0;
  box-shadow: $shadow-primary;
}
.pic{
  background-color: $secondary;
}
.navbar {
  background-color: $primary;
  color: $text-light;
  height: 3rem;
  box-shadow: $shadow-primary;

  .nav-link{
    font-size: 0.8rem;
    color: $text-light;
  }
  .dropdown-item {
    display: flex;
    align-items: center;
    a{
      color: $text-primary;
    }
  }
}
.footer-text{
  font-size: 0.8rem;
  margin: 0;
  padding: 0 0 1rem 1.5rem;
}
.main-container {
  position: absolute;
  top: 3rem;
  height: calc(100vh - 3rem);
  width: 100%;
  background-color: $third
}
.user-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  height: 3.5rem;
  width: 100%;
  background-color: $third;
  color: $text-primary;
  border-bottom: 1px solid $secondary;
  z-index: 1;
  .user-header__name{
    padding-left: 0;
    @media only screen and (min-width: $tablet) {
      padding-left: 15rem;
    }
  }
  a {
    padding: 0;
    font-size: 0.8rem;
    padding-left: 1rem;
    line-height: 1rem;
    color: $text-secondary;   
  }
  a:hover{
    color: $text-secondary;
  }
  a:focus{
    color: $text-secondary;
  }
  a:active{
    color: $text-secondary;
  }
  .dropdown-item{
    font-size: 1rem;
    color: $text-primary;
  }
}
.user-container {
  position: relative;
  top: 3rem;
  display: block;
  height: auto;
  min-height: calc(100% - 3rem);
  width: 100%;
  background-color: $third;
  color: $text-primary;
}
.dropdown-menu[data-bs-popper] {
  left: -70%;
}
.patient-container {
  width: 100%;
  @media only screen and (min-width: $tablet) {
    width: calc(100% - 21rem);
    transform: translateX(15rem);
  }
}
// Forms
.form-control, .form-select {
  background-color: $third;
  border: none;
  border-bottom: 1px solid $text-primary;
  color: $text-primary;
  padding: 0.1rem 2.25rem 0.1rem 0.75rem;
}
.form-control:focus, .form-select:focus{
  background-color: $third;
  border: none;
  border-bottom: 1px solid $text-primary;
  box-shadow: $shadow-focus;
}
.form-label{
  color: $text-secondary;
  font-size: 0.8rem;
}
// Register
.form_register{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
// Iconos y botones
.btn-icon,
.btn-close {
  transition: 0.2s;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 50%;
  padding: 0;
  margin-left: 0.5rem;
}
.btn-close:hover {
  background-color: rgba(128, 128, 128, 0.452);
}
.dangger:hover {
  background-color: #dc354657;
}
.success:hover {
  background-color: #19875444;
}
.primary:hover {
  background-color: #0d6dfd46;
}
.menu-btn {
  transition: 0.2s;
  color: $text-primary;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.menu-btn:hover {
  background-color: $accent;
  color: $text-light;
}
.menu-icon {
  font-size: 1.5rem;
  transition: 0.2s;
}
// Mensaje de error
.error-form__container{
  .error-form{
    transition: 0.2s;
    color: $primary-dark;
    p{
      font-size: 0.8rem;
      margin: 0;
    }
  }
  .show{
    display: block;
  }
  .close{
    display: none;
  }
  }
// GEneral
// Main
.main {
  .main__banner{
    width: 100%;
  }
  .main__title{
    text-transform: uppercase;
    text-align: center;
    color: $primary;
    margin-top: 2rem;
  }
  .main__card {
    position: relative;
    height: 7rem;
    max-width: 300px;
    margin: 1rem;
    padding: 0;
    // border-radius: 20px;
    background-color: $third;
    // box-shadow: 0px 2px 2px 1px #00000060;
    transition: 0.2s;
    a {
      position: absolute;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 1rem;
      border-radius: 20px;
      .main__icon {
        font-size: 4rem;
      }
      h5 {
        margin: 0;
        padding-left: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}
.main__card:hover {
  transform: scale(1.1);
}
.switch-container{
  a {
    display: inline-block ;
    min-width: max-content;
    margin-bottom: 0.5rem;
    padding-right: 1.5rem ;
    color: $text-third
  }
  a:hover {
    font-weight:700;
  }
  a:focus {
    outline: 0;
  }
  .active-switch {
    color: $text-secondary;
    font-weight:700;
  }
}
.section-title{
  text-transform: uppercase;
  color: $primary;
}
// Perfil del Paciente
.perfil-paciente{
  .datos-paciente__label{
    display: inline-block;
    width: fit-content;
    margin: 0;
    margin-right: 1rem ;
    text-transform: uppercase;
  }
}
// Grupo familiar
.patient {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $third;
  box-shadow: 0px 0px 2px 1px #00000060;
  transition: 0.2s;

  @media only screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    height: 5.5rem;
    padding: 0.5rem 0;
  }
  div {
    display: flex;
    align-items: center;
  }
  .patient-name {
    height: 100%;
    margin: 0 0 1rem 0;
    cursor: pointer;
    @media only screen and (min-width: $tablet) {
      margin: 0;
    }
    h6{
      font-weight: 700;
    }
  }
  .patient-actions {
    justify-content: space-around;
    @media only screen and (min-width: $tablet) {
      justify-content: flex-end;
    }
  }
}
// Historial Clinica
.historia-clinica {
  .switch-container__hc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: auto;
    min-height: 200px;
    background-color: $text-light;
    // border: 1px solid $third;
    box-shadow: $shadow-primary;
  }
}
