.sidebar {
    width: 14rem;
    height: calc(100vh - 3.5rem);
    border-right: 1px solid gray;

    ul {
        list-style: none;
        padding: 1rem  2rem;
        li{
            margin-bottom: 1rem;
            a{
                text-decoration: none;
            }
        }
    }
}
